@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Projecto desenvolvido no âmbito da disciplina Tecnologias da Internet II.</p>
<p>Licenciatura em Engenharia Informática - 2º ano.</p>
<p>Ano lectivo 2017/2018</p>